div(data-role='page')
    header(data-role='header')
        h1= title
    div(data-role='content')
      //Our video div
        div#video
            //Iframe from  youtube which serves the right media object for the device in use
            iframe(width="100%", height=215, src="http://www.youtube.com/embed/" + vid, frameborder="0", allowfullscreen)
